---
- name: "Set Defaults"
  ansible.builtin.set_fact:
    service_user_facts:
      name: "{{ service_user.name }}"
      home: "{{ service_user.home | default('/home/'~service_user.name ) }}"
      shell: "{{ service_user.shell | default('/bin/bash') }}"
      create_home: "{{ service_user.create_home | default(true) }}"
      system: "{{ service_user.system | default(false) }}"

- name: Create User
  ansible.builtin.user:
    name: "{{ service_user_facts.name }}"
    password: "!"
    create_home: "{{ service_user_facts.create_home }}"
    system: "{{ service_user_facts.system }}"
    home: "{{ service_user_facts.home }}"
    shell: "{{ service_user_facts.shell }}"
    groups:
      - "rootless-netman"
      - "traefik"
    append: true

- name: "Copy Profile Env Setup"
  ansible.builtin.copy:
    src: "etc/profile.d/nal-service.sh"
    dest: "/etc/profile.d/nal-service.sh"
    owner: "root"
    group: "root"
    mode: "0644"

- name: "Read SubUIDs"
  ansible.builtin.slurp:
    src: "/etc/subuid"
  register: "service_user_subuids"
  changed_when: false

- name: "Add Subuids"
  ansible.builtin.lineinfile:
    path: "/etc/subuid"
    regexp: "^{{ service_user_facts.name }}:\\d+:\\d+$"
    line: "{{ service_user_subuids.content | b64decode | network_automation_labs.devops.next_subids(service_user_facts.name) }}"
    backup: true

- name: "Read SubGIDs"
  ansible.builtin.slurp:
    src: "/etc/subgid"
  register: "service_user_subgids"
  changed_when: false

- name: "Add Subgids"
  ansible.builtin.lineinfile:
    path: "/etc/subgid"
    regexp: "^{{ service_user_facts.name }}"
    line: "{{ service_user_subgids.content | b64decode | network_automation_labs.devops.next_subids(service_user_facts.name) }}"
    backup: true

- name: "Lookup UIDs"
  ansible.builtin.getent:
    database: "passwd"
    key: "{{ service_user_facts.name }}"
  changed_when: false

- name: "Set UID/GID Facts"
  ansible.builtin.set_fact:
    service_user_facts: "{{ service_user_facts | network_automation_labs.devops.set_uid_gid(ansible_facts, service_user_facts.name) }}"

- name: "Check if user is lingering"
  ansible.builtin.stat:
    path: "/var/lib/systemd/linger/{{ service_user_facts.name }}"
  changed_when: false
  register: "service_user_lingering"

- name: "Enable lingering if needed"
  ansible.builtin.command: "loginctl enable-linger {{ service_user_facts.name }}"
  changed_when: "not service_user_lingering.stat.exists"
  when: "not service_user_lingering.stat.exists"

- name: "Run user tasks"
  become: true
  become_user: "{{ service_user_facts.name }}"
  environment:
    XDG_RUNTIME_DIR: "/run/user/{{ service_user_facts.uid }}"
  block:
    - name: "Start User Services"
      ansible.builtin.systemd_service:
        scope: "user"
        name: "{{ item }}"
        enabled: "true"
        state: "started"
      with_items:
        - "podman.service"
        - "traefik-watch.service"

    - name: "Create User Traefik Network"
      containers.podman.podman_network:
        name: "systemd-traefik"
        driver: "rootless-netman"
