- name: Verify Postfix Vars
  ansible.builtin.validate_argument_spec:
    argument_spec:
      postfix:
        description: "Postfix Configuration"
        type: "dict"
        required: true
        options:
          relay:
            type: "dict"
            required: true
            options:
              host:
                description: "The host to relay mail to."
                type: "str"
                required: true
              port:
                description: "Custom port for relay."
                type: "str"
                required: false
              auth:
                description: "Authentication configuration for mail relay."
                type: "dict"
                required: false
                options:
                  username:
                    type: "str"
                    required: false
                  password:
                    type: "str"
                    required: true

- name: Install Postfix
  ansible.builtin.package:
    name: "postfix"
    state: "latest"

- name: "Create Aliases"
  ansible.builtin.template: 
    src: "etc/aliases.j2"
    dest: "/etc/aliases"
    owner: "root"
    group: "root"
    mode: "600"
  notify: "rebuild aliases"

- name: "Create Aliases"
  ansible.builtin.template: 
    src: "etc/postfix/sasl_passwd.j2"
    dest: "/etc/postfix/sasl_passwd"
    owner: "root"
    group: "root"
    mode: "600"
  notify: "rebuild sasl database"
  when: "postfix.relay.auth is defined"

- name: "Base Configuration"
  ansible.builtin.lineinfile:
    state: "present"
    path: "/etc/postfix/main.cf"
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  notify: "restart postfix"
  with_items:
    - { regexp: "^myhostname = ", line: "myhostname = {{ inventory_hostname }}" }
    - { regexp: "^mydestination = ", line: "mydestination = {{ inventory_hostname }}, {{ inventory_hostname_short }}, localhost, localhost.localdomain" }
    - { regexp: "^relayhost = ", line: "relayhost = {{ postfix.relay |  network_automation_labs.devops.postfix_relay_host }}" }
    - { regexp: "^mynetworks = ", line: "mynetworks = 127.0.0.0/8 [::1]/128" }
    - { regexp: "^smtpd_relay_restrictions = ", line: "smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated reject_unauth_destination" }
    - { regexp: "^smtp_use_tls = ", line: "smtp_use_tls = yes" }

- name: "SASL Auth Relay Configuration"
  ansible.builtin.lineinfile:
    state: "present"
    path: "/etc/postfix/main.cf"
    regexp: "{{ item.regexp }}"
    line: "{{ item.line }}"
  with_items:
    - { regexp: "^smtp_sasl_auth_enable = ", line: "smtp_sasl_auth_enable = yes" }
    - { regexp: "^smtp_sasl_password_maps = ", line: "smtp_sasl_password_maps = hash:/etc/postfix/sasl_passwd" }
    - { regexp: "^smtp_sasl_security_options = ", line: "smtp_sasl_security_options = noanonymous" }
  notify: "restart postfix"
  when: "postfix.relay.auth is defined"
