---
- name: "Stat Docker Socket"
  ansible.builtin.stat:
    path: "/var/run/docker.sock"
  register: "traefik_docker"

- name: "Determine if Docker Compatibility is Required"
  when: "traefik_docker.stat.exists"
  block:
    - name: "Get legacy traefik network info"
      community.docker.docker_network_info:
        name: "traefik"
      register: "traefik_legacy_network_info"

    - name: "Set docker compatibility vars"
      ansible.builtin.set_fact:
        traefik_docker_enabled: "{{  traefik_docker.stat.exists }}"
        traefik_legacy_network: "{{ traefik_legacy_network_info.network.IPAM.Config[0].Subnet }}"
        traefik_legacy_interface: "br-{{ traefik_legacy_network_info.network.Id[:12] }}"

- name: "Create Service Group"
  ansible.builtin.group:
    name: "{{ traefik_config.group }}"
    system: true
    state: "present"

- name: "Create Service User"
  ansible.builtin.user:
    name: "{{ traefik_config.user }}"
    group: "{{ traefik_config.group }}"
    create_home: false
    system: true
    shell: "/sbin/nologin"
    state: "present"

- name: "Lookup UID/GID"
  ansible.builtin.getent:
    database: "passwd"
    key: "{{ traefik_config.user }}"

- name: "Set traefik UID/GID"
  ansible.builtin.set_fact:
    traefik_config: "{{ traefik_config | network_automation_labs.devops.set_uid_gid(ansible_facts, traefik_config.user) }}"

- name: "Copy Systemd Socket Units"
  ansible.builtin.copy:
    src: "{{ item.path }}"
    dest: "/usr/lib/systemd/system/{{ item.path }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "{{ item.mode }}"
  with_items:
    - path: "traefik-http.socket"
      owner: "root"
      group: "root"
      mode: "0644"

    - path: "traefik-https.socket"
      owner: "root"
      group: "root"
      mode: "0644"

    - path: "traefik-api.socket"
      owner: "root"
      group: "root"
      mode: "0644"
  notify: "systemd daemon-reload"

- name: "Create config directories"
  ansible.builtin.file:
    path: "{{ item.path }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "{{ item.mode }}"
    state: "directory"
  with_items:
    - path: "/etc/traefik"
      owner: "{{ traefik_config.user }}"
      group: "{{ traefik_config.group }}"
      mode: "0750"

    - path: "/etc/traefik/conf.d"
      owner: "{{ traefik_config.user }}"
      group: "{{ traefik_config.group }}"
      mode: "u=rwx,g=rwx,g+s"

- name: "Generate Configs"
  ansible.builtin.template:
    src: "{{ item.name }}.j2"
    dest: "/{{ item.name }}"
    owner: "{{ item.owner }}"
    group: "{{ item.group }}"
    mode: "{{ item.mode }}"
  notify:
    - "systemd daemon-reload"
    - "restart traefik"
  when: "item.create | default(true)"
  with_items:
    - name: etc/traefik/traefik.yml
      owner: "root"
      group: "root"
      mode: "0644"

    - name: etc/traefik/conf.d/default.yml
      owner: "root"
      group: "root"
      mode: "0644"

    - name: etc/containers/systemd/traefik.container
      owner: "root"
      group: "root"
      mode: "0644"

    - name: etc/containers/systemd/traefik.network
      owner: "root"
      group: "root"
      mode: "0644"

    - name: etc/containers/systemd/legacy-traefik.network
      owner: "root"
      group: "root"
      mode: "0644"
      create: "{{ traefik_docker_enabled }}"

- name: "Install Configuration Packages"
  ansible.builtin.package:
    name:
      - rootless-netman
      - traefik-watch
  notify: "systemd daemon-reload"

- name: "Enable Traefik Services"
  ansible.builtin.systemd:
    name: "{{ item }}"
    enabled: true
    state: "started"
  with_items:
    - "traefik.service"
    - "rootless-netman.service"
