- name: "Install the Network Automation Labs repo on Debian Systems"
  when: ansible_facts["os_family"] == "Debian"
  become: true
  vars:
    nal_repo_url: "https://network-automation-labs.github.io"
    deb_arch: "{{ ansible_facts['architecture'] | network_automation_labs.devops.deb_architecture }}"
  block:
    - name: "Install prerequisite packages"
      ansible.builtin.package:
        name:
          - ca-certificates

    - name: "Ensure keyrings directory exists"
      ansible.builtin.file:
        path: "/etc/apt/keyrings"
        state: "directory"
        mode: "0755"

    - name: "Download the Network Automation Labs GPG key"
      ansible.builtin.get_url:
        url: "{{ nal_repo_url }}/network-automation-labs.asc"
        dest: "/etc/apt/keyrings/nal.asc"
        owner: "root"
        group: "root"
        mode: "0644"

    - name: "Add the Network Automation Labs APT repository"
      ansible.builtin.apt_repository:
        repo: "deb [arch={{ deb_arch }} signed-by=/etc/apt/keyrings/nal.asc] {{ nal_repo_url }}/deb stable main"
        state: "present"
        filename: "nal"
        update_cache: true
