- name: Install pip
  package: name=python3-pip state=latest

- name: "Install on Debian Systems"
  when: ansible_facts["os_family"] == 'Debian'
  vars:
    deb_architecture: "{{ ansible_facts['architecture'] | network_automation_labs.devops.deb_architecture }}"
    distribution: "{{ ansible_facts['distribution'] | lower }}"
    release: "{{ ansible_facts['distribution_release'] }}"
  block:
    - package:
        name:
          - ca-certificates
        state: latest

    - ansible.builtin.file:
        path: "/etc/apt/keyrings"
        state: "directory"
        mode: "0755"

    - ansible.builtin.get_url:
        url: "https://download.docker.com/linux/{{ ansible_facts['os_family'] | lower }}/gpg"
        dest: "/etc/apt/keyrings/docker.asc"

    - ansible.builtin.apt_repository:
        repo: "deb [arch={{ deb_architecture }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/{{ distribution }} {{ release }} stable"
        state: "present"
        filename: "docker"
        update_cache: true

