- name: Install pip
  package: name=python3-pip state=latest

- name: "Install on Debian Systems"
  when: ansible_os_family == 'Debian'
  block:
    - package:
        name:
          - ca-certificates
        state: latest

    - ansible.builtin.file:
        path: "/etc/apt/keyrings"
        state: "directory"
        mode: "0755"

    - ansible.builtin.get_url:
        url: "https://download.docker.com/linux/{{ ansible_os_family | lower }}/gpg"
        dest: "/etc/apt/keyrings/docker.asc"

    - ansible.builtin.apt_repository:
        repo: "deb [arch={{ docker_architecture }} signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable"
        state: "present"
        filename: "docker"
        update_cache: true

